* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/winebottles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

section {
  flex: 1 0 auto;
}

.navbar-fixed {
  margin-bottom: 15px;
}

footer {
  position: relative;
  bottom: 0;
  top: 0;
  width: 100%;
}

.button {
  margin-right: 4px;
  margin-left: 4px;
}

.gamecard {
  height: 230px;
}

.winelbl {
  max-height: 300px;
}

.winecard {
  height: 500px;
}

::-webkit-input-placeholder {
   color: grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: grey;
}

:-ms-input-placeholder {
   color: grey;
}

.logo {
  margin-right: 10px;
}

.btn {
  background-color: #aa2200;
}

.btn:hover {
  background-color: #f73100;
}
